@font-face{
    font-family: 'Caviar Dreams';
    src: url('fonts/CaviarDreams.ttf')  format('truetype');
}
@font-face{
    font-family: 'Caviar Dreams Bold';
    src: url('fonts/CaviarDreams_Bold.ttf')  format('truetype');
}
@font-face{
    font-family: 'Calibri';
    src: url('fonts/calibri.ttf')  format('truetype');
}
@font-face{
    font-family: 'Calibri Bold';
    src: url('fonts/calibrib.ttf')  format('truetype');
}
@base-purple: #3B244E;
@dark-pink: #7D2730;
@light-pink: #C64E5A;
@base-gold: #E19A4C;
@light-gold: #ffe660;
@dark-white: darken(white, 6.5%);
@dark-light-pink: lighten(@dark-pink, 6.5%);
@lighter-pink: lighten(@light-pink, 6.5%);
@light-purple: lighten(@base-purple, 6.5%);
@lighter-dark-purple: lighten(@base-purple, 70%);
@lighter-purple: lighten(@base-purple, 73%);

.container-no-fill{
    padding: 0;
}
div[class*="col-"]{
    padding: 0; 
}
.row{
    margin-right: 0;
    margin-left: 0;
}

#header{
    &.dark-background{
        background: @dark-pink;
    }

    #top-navigation .nav {
        font-family: 'Calibri', sans;
        font-style: italic;
        text-transform: uppercase;
    }

    #head-band{
        margin-bottom: 10px;
    }

    #recent-activity{
        h4 {
            font-family: 'Caviar Dreams Bold', sans;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 18px;
            letter-spacing: 2px;
            margin-top: 0;
        }
        #recent-thumbnails{
            .recent-item{
                &{
                    font-family: 'Calibri';
                    font-size: 14px;
                    text-align: center;
                    padding: 5px 0;
                }
                &:hover{
                    background: @dark-light-pink;
                }
                .model-name{
                    color: #E19A4C;
                }
                img:hover{
                    opacity: 0.9;
                    background: white;
                }
                img{
                    margin-bottom: 5px;
                }
                .model-emphasis{
                    font-family: 'Calibri Bold';
                    color: white;
                    letter-spacing: 1px;
                }
            }
        }
    }
    #middle-navigation {
        &{
            margin: 0;
            border: none;
            border-bottom: 6px solid @light-pink;
        }
        ul li {
            &{
                background: @light-pink;    
                margin-left: .75em;
            }
            &:hover{
                background: @lighter-pink;
            }
            a {
                font-family: 'Calibri';
                letter-spacing: 0.5px;
            }
        }
    }
    #bottom-navigation{
        &{
            background: @base-purple;
            margin-bottom: 0;
            border: none;
        }
        
        .navbar-nav>li{
            &{
                float: left;
                color:white;
                font-family: 'Caviar Dreams';
            }
            a{
                background: @base-purple;
                color: white;
                display: block;
            }
            a:hover{
                background: @light-purple;
                background-color: @light-purple;
            }
        }
        .navbar-nav .dropdown-menu{
            &{
                color:white;
                background: darken(@base-purple, 5%);
                font-family: 'Caviar Dreams';
            }
            li{
                clear: both;
                float: none;
            }
            a{
                width: 100%;
                background: darken(@base-purple, 5%);
                color: white;
                display: block;
            }
            a:hover{
                background-color: @base-purple;
            }
            .divider{
                width: 100%;
                display: block;
                background: transparent;
                border-top: 1px solid darken(@base-purple, 15%);
                /*border-bottom: 1px solid lighten(@base-purple, 5%);*/
                margin: 0;
            }
        }
    }
}

#main-content{
    &{
        background: white;
    }
    #spotlight{
        &{
            margin-bottom: 10px;
        }
        .model-spotlight{
            &{}
            .thumbnail-spotlight:hover{
                background: @dark-light-pink;
            }
            .thumbnail-spotlight{
                &{
                    cursor: pointer;
                    background: @dark-pink;
                    border-radius: 0;
                    margin-bottom: 7px;
                }
                img{
                    min-height: 190px;
                }
                img:hover{
                    opacity: 0.9;
                    background: white;
                }
                .caption{
                    &{
                        font-family: 'Calibri';
                        font-size: 14px;
                        text-align: center;
                    }
                    p{
                        margin-bottom: 0;
                    }
                    h3{
                        font-family: 'Calibri';
                        font-size: 16px;
                        margin: 0;
                    }
                    .model-name{
                        color: @base-gold;
                    }
                }
            }
        }
    }
}

#anuncio-placement{
    &{
        margin-bottom: 10px;
    }
    .anuncio-half-space{
        background: @light-pink;
    }
}

#sidebar{
    .page-header{
        margin: 0;
        text-align: center;
        background: @base-purple;
        font-family: 'Caviar Dreams Bold';
        font-size: 18px;
        color: @dark-white;
        padding: 7px 0;
    }
    .sidebar-widget.with-padding{
        padding: 10px;
    }
    .sidebar-widget{
        background: @lighter-purple;
        margin-bottom: 20px;
    }

    .featured-model{
        &{
            text-align: right;
            font-family: 'Caviar Dreams';
            font-size: 16px;
            margin-bottom: 10px;
        }
        img:hover{
            background: white;
            opacity: 0.9;;
        }
        .model-name{
            color: @base-purple;
        }
        .model-location{
            color: @dark-pink;
        }
    }
}

#featured-spotlight{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    justify-content: space-around;
    margin-bottom: 15px;
    background: @dark-pink;
}

#featured-spotlight .featured-photo{
    flex: 1 50%;
    margin-bottom: 15px;
    padding: 5px;
}

#profile{
    &{
        background: @lighter-purple;
        padding-top: 10px;
        font-family: 'Calibri';
    }

    #profile-heading{
        margin-bottom: 10px;
    }

    .media {
        padding-left:20px;
    }
    .purple-heading{
        color: @base-purple;
    }
    .model-name{
        color: @base-purple;
        margin:0;
    }
    .model-rank{
        color: @light-pink;
        font-family: 'Caviar Dreams';
        margin:0;
    }

    .page-header{
        margin: 0;
        background: @base-purple;
        font-size: 18px;
        color: @dark-white;
        padding: 7px;
    }

    .profile-table th{
        color: @light-pink;
    }
    
    #profile-carousel{
        margin-bottom:  10px;
    }
}

#footer{
    &{
        color: white;
        font-family: 'Caviar Dreams';
        font-size: 14px;
    }
    a{
        color: white;
    }
    .brand-color{
        color: @light-gold;
    }
    .footer-widget{
        &{
            background: @light-pink;
            padding: 0 20px;
            min-height: 210px;
        }
        h5{
            font-family: 'Calibri';
            color: @light-gold;
        }
    }
    .big-text{
        font-size: 20px;
    }
    
}

#form-publicate{
    &{
        background: @lighter-purple;
        font-family: 'Calibri';
    }
    .btn{
        border-radius: 0;
    }
    .page-header{
        background: @dark-pink;
        margin: 0;
        padding: 10px 20px;
        font-size: 36px;
        text-align: center;
        margin-bottom: 10px;
    }
    .calibri-em{
        font-style: italic;
    }
    .sub-header{
        color: darken(@light-gold, 25%);
    }

    .form-group.required label.control-label:after{
        content: ' *';
        font-family: sans;
        position: relative;
        top: -5px;
        color: darken(red, 20%);
        font-size: 14px;
    }
}

@media (min-width: 768px){
    .row-with-more-padding div[class*="col-"]{
        padding-left: 10px; 
        padding-right: 10px; 
    }
    .row-with-padding div[class*="col-"]{
        padding-left: 5px; 
        padding-right: 5px; 
    }
}
@media (min-width: 939px){

    #left-form{
        border-right: 2px solid @light-pink;
    }
}

@media (max-width: 479px){
    #footer div[class*="col-"]+div[class*="col-"]{
        padding-top: 15px !important;
    }
}

@media (min-width: 768px) and (max-width: 939px){
    #main-content #spotlight{
        &{
            padding-top: 0px;
            margin-bottom: 10px;
        }
        div[class*="col-"]{
            padding: 0; 
            padding-right: 7px;
        }
        div[class*="col-"]:nth-child(3n){
            padding: 0; 
        }

    }

    #anuncio-placement {
        &{}
        div[class*="col-"]{
            padding: 0; 
            padding-right: 7px;
        }
        div[class*="col-"]:nth-child(2n){
            padding: 0; 
        }
    }

    #sidebar{
        div[class*="col-"]{
            padding: 0; 
            padding-right: 10px;
        }
        div[class*="col-"]:nth-child(2n){
            padding: 0; 
        }
    }

    #footer div[class*="col-"]+div[class*="col-"]{
        padding-left: 7px !important;
    }

    #featured-spotlight .featured-photo{
        background: @dark-pink;
        flex: 1 25%;
        margin-bottom: 15px;
    }
    
}
@media (min-width: 940px) and (max-width: 1200px){
    #featured-spotlight .featured-photo{
        background: @dark-pink;
        flex: 1 20%;
        margin-bottom: 15px;
    }
}

@media (max-width: 767px){
    #header {
        &{}
        #middle-navigation{
            &{
                border-bottom: none !important;
            }
            ul li {
                margin-left: 0 !important;
            }
        }

        #bottom-navigation ul li{
            &, a, &:after{
                float: none !important;
            }
            &:after{
                float: none !important;
                content: none;
            }
        }
    }
    div[class*="col-"]{
        padding: 0 !important;
    }
}

@media (min-width: 767px){
    #header {
        .center-block-sm{
            margin-right: auto;
            margin-left: auto;
        }
    }
    #header #recent-activity h4 {
        margin-top: 10px !important;
    }

}

@media (min-width: 1199px){
    #featured-spotlight .featured-photo{
        background: @dark-pink;
        flex: 1 12.5%;
        margin-bottom: 0;
    }
    #header #bottom-navigation .navbar-nav>li+li{
        a, &:before{
            float: left;
        }
        &:before{
            content: " | ";
            margin-top: 5px;
        }
        
    }        
    
    #main-content{
        &{}
        #spotlight{
            &{
                padding-top: 15px;
                margin-bottom: 10px;
            }
            div[class*="col-"]{
                padding: 0; 
                padding-right: 7px;
            }
            div[class*="col-"]:nth-child(6n){
                padding: 0; 
            }

        }
        #sidebar{
            padding-left: 15px;
            padding-top: 15px;
        }
        
        #anuncio-placement {
            &{}
            div[class*="col-"]{
                padding: 0; 
                padding-right: 7px;
            }
            div[class*="col-"]:nth-child(2n){
                padding: 0; 
            }
        }
    }

    #footer{
    
        div[class*="col-"]{
            padding: 0; 
            padding-right: 10px;
        }
        div[class*="col-"]:nth-child(3n){
            padding: 0; 
        }
    
    }

}