@font-face {
  font-family: 'Caviar Dreams';
  src: url('fonts/CaviarDreams.ttf') format('truetype');
}
@font-face {
  font-family: 'Caviar Dreams Bold';
  src: url('fonts/CaviarDreams_Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Calibri';
  src: url('fonts/calibri.ttf') format('truetype');
}
@font-face {
  font-family: 'Calibri Bold';
  src: url('fonts/calibrib.ttf') format('truetype');
}
.container-no-fill {
  padding: 0;
}
div[class*="col-"] {
  padding: 0;
}
.row {
  margin-right: 0;
  margin-left: 0;
}
#header.dark-background {
  background: #7D2730;
}
#header #top-navigation .nav {
  font-family: 'Calibri', sans;
  font-style: italic;
  text-transform: uppercase;
}
#header #head-band {
  margin-bottom: 10px;
}
#header #recent-activity h4 {
  font-family: 'Caviar Dreams Bold', sans;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 2px;
  margin-top: 0;
}
#header #recent-activity #recent-thumbnails .recent-item {
  font-family: 'Calibri';
  font-size: 14px;
  text-align: center;
  padding: 5px 0;
}
#header #recent-activity #recent-thumbnails .recent-item:hover {
  background: #962f3a;
}
#header #recent-activity #recent-thumbnails .recent-item .model-name {
  color: #E19A4C;
}
#header #recent-activity #recent-thumbnails .recent-item img:hover {
  opacity: 0.9;
  background: white;
}
#header #recent-activity #recent-thumbnails .recent-item img {
  margin-bottom: 5px;
}
#header #recent-activity #recent-thumbnails .recent-item .model-emphasis {
  font-family: 'Calibri Bold';
  color: white;
  letter-spacing: 1px;
}
#header #middle-navigation {
  margin: 0;
  border: none;
  border-bottom: 6px solid #C64E5A;
}
#header #middle-navigation ul li {
  background: #C64E5A;
  margin-left: .75em;
}
#header #middle-navigation ul li:hover {
  background: #ce6771;
}
#header #middle-navigation ul li a {
  font-family: 'Calibri';
  letter-spacing: 0.5px;
}
#header #bottom-navigation {
  background: #3B244E;
  margin-bottom: 0;
  border: none;
}
#header #bottom-navigation .navbar-nav > li {
  float: left;
  color: white;
  font-family: 'Caviar Dreams';
}
#header #bottom-navigation .navbar-nav > li a {
  background: #3B244E;
  color: white;
  display: block;
}
#header #bottom-navigation .navbar-nav > li a:hover {
  background: #4c2e65;
  background-color: #4c2e65;
}
#header #bottom-navigation .navbar-nav .dropdown-menu {
  color: white;
  background: #2e1c3d;
  font-family: 'Caviar Dreams';
}
#header #bottom-navigation .navbar-nav .dropdown-menu li {
  clear: both;
  float: none;
}
#header #bottom-navigation .navbar-nav .dropdown-menu a {
  width: 100%;
  background: #2e1c3d;
  color: white;
  display: block;
}
#header #bottom-navigation .navbar-nav .dropdown-menu a:hover {
  background-color: #3B244E;
}
#header #bottom-navigation .navbar-nav .dropdown-menu .divider {
  width: 100%;
  display: block;
  background: transparent;
  border-top: 1px solid #130c1a;
  /*border-bottom: 1px solid lighten(@base-purple, 5%);*/
  margin: 0;
}
#main-content {
  background: white;
}
#main-content #spotlight {
  margin-bottom: 10px;
}
#main-content #spotlight .model-spotlight .thumbnail-spotlight:hover {
  background: #962f3a;
}
#main-content #spotlight .model-spotlight .thumbnail-spotlight {
  cursor: pointer;
  background: #7D2730;
  border-radius: 0;
  margin-bottom: 7px;
}
#main-content #spotlight .model-spotlight .thumbnail-spotlight img {
  min-height: 190px;
}
#main-content #spotlight .model-spotlight .thumbnail-spotlight img:hover {
  opacity: 0.9;
  background: white;
}
#main-content #spotlight .model-spotlight .thumbnail-spotlight .caption {
  font-family: 'Calibri';
  font-size: 14px;
  text-align: center;
}
#main-content #spotlight .model-spotlight .thumbnail-spotlight .caption p {
  margin-bottom: 0;
}
#main-content #spotlight .model-spotlight .thumbnail-spotlight .caption h3 {
  font-family: 'Calibri';
  font-size: 16px;
  margin: 0;
}
#main-content #spotlight .model-spotlight .thumbnail-spotlight .caption .model-name {
  color: #E19A4C;
}
#anuncio-placement {
  margin-bottom: 10px;
}
#anuncio-placement .anuncio-half-space {
  background: #C64E5A;
}
#sidebar .page-header {
  margin: 0;
  text-align: center;
  background: #3B244E;
  font-family: 'Caviar Dreams Bold';
  font-size: 18px;
  color: #eeeeee;
  padding: 7px 0;
}
#sidebar .sidebar-widget.with-padding {
  padding: 10px;
}
#sidebar .sidebar-widget {
  background: #f4eff8;
  margin-bottom: 20px;
}
#sidebar .featured-model {
  text-align: right;
  font-family: 'Caviar Dreams';
  font-size: 16px;
  margin-bottom: 10px;
}
#sidebar .featured-model img:hover {
  background: white;
  opacity: 0.9;
}
#sidebar .featured-model .model-name {
  color: #3B244E;
}
#sidebar .featured-model .model-location {
  color: #7D2730;
}
#featured-spotlight {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  justify-content: space-around;
  margin-bottom: 15px;
  background: #7D2730;
}
#featured-spotlight .featured-photo {
  flex: 1 50%;
  margin-bottom: 15px;
  padding: 5px;
}
#profile {
  background: #f4eff8;
  padding-top: 10px;
  font-family: 'Calibri';
}
#profile #profile-heading {
  margin-bottom: 10px;
}
#profile .media {
  padding-left: 20px;
}
#profile .purple-heading {
  color: #3B244E;
}
#profile .model-name {
  color: #3B244E;
  margin: 0;
}
#profile .model-rank {
  color: #C64E5A;
  font-family: 'Caviar Dreams';
  margin: 0;
}
#profile .page-header {
  margin: 0;
  background: #3B244E;
  font-size: 18px;
  color: #eeeeee;
  padding: 7px;
}
#profile .profile-table th {
  color: #C64E5A;
}
#profile #profile-carousel {
  margin-bottom: 10px;
}
#footer {
  color: white;
  font-family: 'Caviar Dreams';
  font-size: 14px;
}
#footer a {
  color: white;
}
#footer .brand-color {
  color: #ffe660;
}
#footer .footer-widget {
  background: #C64E5A;
  padding: 0 20px;
  min-height: 210px;
}
#footer .footer-widget h5 {
  font-family: 'Calibri';
  color: #ffe660;
}
#footer .big-text {
  font-size: 20px;
}
#form-publicate {
  background: #f4eff8;
  font-family: 'Calibri';
}
#form-publicate .btn {
  border-radius: 0;
}
#form-publicate .page-header {
  background: #7D2730;
  margin: 0;
  padding: 10px 20px;
  font-size: 36px;
  text-align: center;
  margin-bottom: 10px;
}
#form-publicate .calibri-em {
  font-style: italic;
}
#form-publicate .sub-header {
  color: #e0bc00;
}
#form-publicate .form-group.required label.control-label:after {
  content: ' *';
  font-family: sans;
  position: relative;
  top: -5px;
  color: #990000;
  font-size: 14px;
}
@media (min-width: 768px) {
  .row-with-more-padding div[class*="col-"] {
    padding-left: 10px;
    padding-right: 10px;
  }
  .row-with-padding div[class*="col-"] {
    padding-left: 5px;
    padding-right: 5px;
  }
}
@media (min-width: 939px) {
  #left-form {
    border-right: 2px solid #C64E5A;
  }
}
@media (max-width: 479px) {
  #footer div[class*="col-"] + div[class*="col-"] {
    padding-top: 15px !important;
  }
}
@media (min-width: 768px) and (max-width: 939px) {
  #main-content #spotlight {
    padding-top: 0px;
    margin-bottom: 10px;
  }
  #main-content #spotlight div[class*="col-"] {
    padding: 0;
    padding-right: 7px;
  }
  #main-content #spotlight div[class*="col-"]:nth-child(3n) {
    padding: 0;
  }
  #anuncio-placement div[class*="col-"] {
    padding: 0;
    padding-right: 7px;
  }
  #anuncio-placement div[class*="col-"]:nth-child(2n) {
    padding: 0;
  }
  #sidebar div[class*="col-"] {
    padding: 0;
    padding-right: 10px;
  }
  #sidebar div[class*="col-"]:nth-child(2n) {
    padding: 0;
  }
  #footer div[class*="col-"] + div[class*="col-"] {
    padding-left: 7px !important;
  }
  #featured-spotlight .featured-photo {
    background: #7D2730;
    flex: 1 25%;
    margin-bottom: 15px;
  }
}
@media (min-width: 940px) and (max-width: 1200px) {
  #featured-spotlight .featured-photo {
    background: #7D2730;
    flex: 1 20%;
    margin-bottom: 15px;
  }
}
@media (max-width: 767px) {
  #header #middle-navigation {
    border-bottom: none !important;
  }
  #header #middle-navigation ul li {
    margin-left: 0 !important;
  }
  #header #bottom-navigation ul li,
  #header #bottom-navigation ul li a,
  #header #bottom-navigation ul li:after {
    float: none !important;
  }
  #header #bottom-navigation ul li:after {
    float: none !important;
    content: none;
  }
  div[class*="col-"] {
    padding: 0 !important;
  }
}
@media (min-width: 767px) {
  #header .center-block-sm {
    margin-right: auto;
    margin-left: auto;
  }
  #header #recent-activity h4 {
    margin-top: 10px !important;
  }
}
@media (min-width: 1199px) {
  #featured-spotlight .featured-photo {
    background: #7D2730;
    flex: 1 12.5%;
    margin-bottom: 0;
  }
  #header #bottom-navigation .navbar-nav > li + li a,
  #header #bottom-navigation .navbar-nav > li + li:before {
    float: left;
  }
  #header #bottom-navigation .navbar-nav > li + li:before {
    content: " | ";
    margin-top: 5px;
  }
  #main-content #spotlight {
    padding-top: 15px;
    margin-bottom: 10px;
  }
  #main-content #spotlight div[class*="col-"] {
    padding: 0;
    padding-right: 7px;
  }
  #main-content #spotlight div[class*="col-"]:nth-child(6n) {
    padding: 0;
  }
  #main-content #sidebar {
    padding-left: 15px;
    padding-top: 15px;
  }
  #main-content #anuncio-placement div[class*="col-"] {
    padding: 0;
    padding-right: 7px;
  }
  #main-content #anuncio-placement div[class*="col-"]:nth-child(2n) {
    padding: 0;
  }
  #footer div[class*="col-"] {
    padding: 0;
    padding-right: 10px;
  }
  #footer div[class*="col-"]:nth-child(3n) {
    padding: 0;
  }
}
